{% extends 'base.html' %}

{% block title %}
Create Product
{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_empl.css' %}">
{% endblock %}

{% block content %}
    <a id="create-employee-btn" onclick="location.href='/manager/products'"><</a>

    <form method="post">
        {% csrf_token %}
        <div>
        <label for="category">Select a category:</label>
        <select id="category" name="category">
        {% for category in categories %}
            <option value="{{ category.0 }}">{{ category.1 }}</option>
        {% endfor %}
        </select>

        </div>

        <div>
            <label for="name">Name:</label>
            <div><input type="text" id="name" name="name" required></div>
        </div>

        <div>
            <label for="characteristics">Characteristics:</label>
            <div><input type="text" id="characteristics" name="characteristics" required></div>
        </div>
        <div>
            <button id="create-employee-btn">Create Product</button>
        </div>
    </form>


{% endblock %}
