{% extends 'base.html' %}

{% block title %}
    Product List
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
    <meta http-equiv="refresh" content="no-cache, no-store, must-revalidate">
{% endblock %}

{% block content %}
    <div class="header">
        <a class="button button-back" onclick="location.href='/manager/'"> <span class="arrow">➜</span> Back </a>

        <div class="dropdown">
            <div class="select">
                <span>Select Employee</span>
                <i class="fa fa-chevron-left"></i>
            </div>
            <input type="hidden" name="gender">
            <ul class="dropdown-menu">
                {% for empl in employees %}
                    <li onclick="selectEmpl({{ empl.0 }})"> {{ empl.1 }} {{ empl.2 }} {{ empl.3 }} </li>
                {% endfor %}
            </ul>
        </div>
        <select style="display: none" id="empls" name="empls">
            {% for empl in employees %}
                <option value='{{ empl.0 }}'>{{ empl.1 }} {{ empl.2 }} {{ empl.3 }}</option>
            {% endfor %}
        </select>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function selectEmpl(id) {
                console.log(id);
                document.getElementById("empls").value = id;
            }

            $('.dropdown').click(function () {
                $(this).attr('tabindex', 1).focus();
                $(this).toggleClass('active');
                $(this).find('.dropdown-menu').slideToggle(300);
            });
            $('.dropdown').focusout(function () {
                $(this).removeClass('active');
                $(this).find('.dropdown-menu').slideUp(300);
            });
            $('.dropdown .dropdown-menu li').click(function () {
                $(this).parents('.dropdown').find('span').text($(this).text());
                $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
            });


            $('.dropdown-menu li').click(function () {
                var input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
                    msg = '<span class="msg">Hidden input value: ';
                $('.msg').html(msg + input + '</span>');
            });
        </script>

        <input type="date" id="search-all-checks-all-empl-start">
        <label>-</label>
        <input type="date" id="search-all-checks-all-empl-end">

        <button class="button button-header" id="b-search-all-checks-all-empl" type="submit">Find checks</button>
        <button class="button button-header" id="b-search-sum" type="submit">Find sum</button>
        <div class="search-wrapper">
            <button class="button button-header" onclick="location.href='/manager/checks/'">Reset</button>
            <button class="button button-header btn-all-only" onclick="window.print()">Print</button>
        </div>

    </div>

    {% include 'manager/checks/check_table.html' %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        document.getElementById("b-search-sum").addEventListener("click", function () {
            const empl_id = document.getElementById("empls").value;
            const requested_start_date = document.getElementById("search-all-checks-all-empl-start").value;
            const requested_end_date = document.getElementById("search-all-checks-all-empl-end").value;

            $.ajax({
                url: '/manager/checks/get_all_checks_sum/',
                method: 'GET',
                data: {
                    start_date: requested_start_date,
                    end_date: requested_end_date,
                    empl_id: empl_id
                },
                success: function (response) {
                    $('#check_list').html(response.html);
                    var paginationLinks = response.pagination_links;
                    var paginationHTML = '';
                    for (var i = 0; i < paginationLinks.length; i++) {
                        var link = paginationLinks[i];
                        if (link.current) {
                            paginationHTML += '<span class="current-page">' + link.label + '</span>';
                        } else {
                            paginationHTML += '<a href="' + link.url + '">' + link.label + '</a>';
                        }
                    }
                    $('#pagination-links').html(paginationHTML);
                    setupNextPageListener();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>


    <script>
        document.getElementById("b-search-all-checks-all-empl").addEventListener("click", function () {
            const empl_id = document.getElementById("empls").value;
            const requested_start_date = document.getElementById("search-all-checks-all-empl-start").value;
            const requested_end_date = document.getElementById("search-all-checks-all-empl-end").value;
            const page = 1;

            $.ajax({
                url: '/manager/checks/get_all_checks_all_empl/',
                method: 'GET',
                data: {
                    start_date: requested_start_date,
                    end_date: requested_end_date,
                    empl_id: empl_id,
                    page: page
                },
                success: function (response) {
                    $('#check_list').html(response.html);
                    var paginationLinks = response.pagination_links;
                    var paginationHTML = '';
                    for (var i = 0; i < paginationLinks.length; i++) {
                        var link = paginationLinks[i];
                        if (link.current) {
                            paginationHTML += '<span class="current-page">' + link.label + '</span>';
                        } else {
                            paginationHTML += '<a href="' + link.url + '">' + link.label + '</a>';
                        }
                    }
                    $('#pagination-links').html(paginationHTML);
                    setupNextPageListener();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        function setupNextPageListener() {
            $('#pagination-links a').click(function (event) {
                event.preventDefault();

                const empl_id = document.getElementById("empls").value;
                const requested_start_date = document.getElementById("search-all-checks-all-empl-start").value;
                const requested_end_date = document.getElementById("search-all-checks-all-empl-end").value;
                const page = $(this).attr('href').split('=')[1];

                $.ajax({
                    url: '/manager/checks/get_all_checks_all_empl/',
                    method: 'GET',
                    data: {
                        start_date: requested_start_date,
                        end_date: requested_end_date,
                        empl_id: empl_id,
                        page: page
                    },
                    success: function (response) {
                        $('#check_list').html(response.html);
                        var paginationLinks = response.pagination_links;
                        var paginationHTML = '';
                        for (var i = 0; i < paginationLinks.length; i++) {
                            var link = paginationLinks[i];
                            if (link.current) {
                                paginationHTML += '<span class="current-page">' + link.label + '</span>';
                            } else {
                                paginationHTML += '<a href="' + link.url + '">' + link.label + '</a>';
                            }
                        }
                        $('#pagination-links').html(paginationHTML);
                        setupNextPageListener();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        }
    </script>


    <div class="pagination">
        <div id="pagination-links">
            {% if checks.has_previous %}
                <a class="pgn-btn" href="?page={{ checks.previous_page_number }}">Previous</a>
            {% endif %}

            {% for page in checks.paginator.page_range %}
                {% if page == checks.number %}
                    <span class="current-page">{{ page }}</span>
                {% else %}
                    <a class="pgn-btn" href="?page={{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if checks.has_next %}
                <a class="pgn-btn" href="?page={{ checks.next_page_number }}">Next</a>
            {% endif %}
        </div>
    </div>


{% endblock %}
