{% extends 'base.html' %}

{% block title %}
    Product List
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
    <meta http-equiv="refresh" content="no-cache, no-store, must-revalidate">
{% endblock %}

{% block content %}
    <div class="header">
        <a class="button button-header" onclick="location.href='/manager/'"> <span class="arrow">➜</span> Back </a>
        <select id="empls" name="empls">
            <option value="all">All</option>
            {% for empl in employees %}
                <option value='{{ empl.0 }}'>{{ empl.1 }} {{ empl.2 }} {{ empl.3 }}</option>
            {% endfor %}
        </select>

        <input type="date" id="search-all-checks-all-empl-start">
        <label>-</label>
        <input type="date" id="search-all-checks-all-empl-end">

        <button class="button" id="b-search-all-checks-all-empl" type="submit">Find checks</button>
        <select id="sum" name="sum">
            <option value="all">All</option>
            {% for empl in employees %}
                <option value='{{ empl.0 }}'>{{ empl.1 }} {{ empl.2 }} {{ empl.3 }}</option>
            {% endfor %}
        </select>

        <input type="date" id="search-sum-start">
        <label>-</label>
        <input type="date" id="search-sum-end">
        <button class="button" id="b-search-sum" type="submit">Find sum</button>
        <div><a class="button" onclick="location.href='/manager/checks/'">Reset</a></div>
    </div>

    {% include 'manager/checks/check_table.html' %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        document.getElementById("b-search-sum").addEventListener("click", function () {
            const empl_id = document.getElementById("sum").value;
            const requested_start_date = document.getElementById("search-sum-start").value;
            const requested_end_date = document.getElementById("search-sum-end").value;
            $.ajax({
                url: '/manager/checks/get_all_checks_sum/',
                method: 'GET',
                data: {start_date: requested_start_date, end_date: requested_end_date, empl_id: empl_id},
                success: function (response) {
                    $('#check_list').html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>


    <script>
        document.getElementById("b-search-all-checks-all-empl").addEventListener("click", function () {
            const empl_id = document.getElementById("empls").value;
            const requested_start_date = document.getElementById("search-all-checks-all-empl-start").value;
            const requested_end_date = document.getElementById("search-all-checks-all-empl-end").value;

            $.ajax({
                url: '/manager/checks/get_all_checks_all_empl/',
                method: 'GET',
                data: {start_date: requested_start_date, end_date: requested_end_date, empl_id: empl_id},
                success: function (response) {
                    $('#check_list').html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>


    {% if checks.has_other_pages %}
        <div class="pagination">
            {% if checks.has_previous %}
                <a href="?page={{ checks.previous_page_number }}">Previous</a>
            {% endif %}

            {% for page in checks.paginator.page_range %}
                {% if page == checks.number %}
                    <span class="current-page">{{ page }}</span>
                {% else %}
                    <a href="?page={{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if checks.has_next %}
                <a href="?page={{ checks.next_page_number }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
