{% extends 'base.html' %}

{% block title %}
    Product List
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <meta http-equiv="refresh" content="no-cache, no-store, must-revalidate">
{% endblock %}

{% block content %}
    <a class="button" onclick="location.href='/manager/'"><</a>
    <div>
        <label>
        <input type="date" id="search-all-checks-all-empl">
        <button class="button" id="b-search-all-checks-all-empl" type="submit">Find all checks</button>
        </label>
    </div>


    {% include 'manager/checks/check_table.html' %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        document.getElementById("b-search-all-checks-all-empl").addEventListener("click", function () {
            const requested_date = document.getElementById("search-all-checks-all-empl").value;
            $.ajax({
                url: '/manager/checks/get_all_checks_all_empl/',
                method: 'GET',
                data: { requested_date: requested_date },
                success: function (response) {
                    $($('#check_list')).html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>



    {% if checks.has_other_pages %}
        <div class="pagination">
            {% if checks.has_previous %}
                <a href="?page={{ checks.previous_page_number }}">Previous</a>
            {% endif %}

            {% for page in checks.paginator.page_range %}
                {% if page == checks.number %}
                    <span class="current-page">{{ page }}</span>
                {% else %}
                    <a href="?page={{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if checks.has_next %}
                <a href="?page={{ checks.next_page_number }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}