{% extends 'base.html' %}

{% block title %}
    Product List
{% endblock %}


{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">

{% endblock %}

{% block content %}
    <div class="header">
        <a class="button button-back" onclick="location.href='/home/'"> <span class="arrow">➜</span> Back</a>
    </div>
    <div class="checkout-container">

        <h2 class=" h2 title">Products</h2>
        <table class="table styled-table sale-table">
            <thead>
            <tr>
                <th>UPC</th>
                <th>Product ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Prom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.0 }}</td>
                    <td>{{ product.1 }}</td>
                    <td>{{ product.2 }}</td>
                    <td>{{ product.3 }}</td>
                    <td>{{ product.4 }}</td>
                    <td>{{ product.5 }}</td>
                    <td class="td-btn">
                        <input class="td-quantity" type="number" name="quantity" min="1" value="1">
                        <button class="add-to-cart-button button button-header" data-product-id="{{ product.1 }}">Add
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 class=" h2 title">Check</h2>
        <table class="cart-table table styled-table sale-table">
            <thead>
            <tr>
                <th>UPC</th>
                <th>Product ID</th>
                <th>Name</th>
                <th>Selling price</th>
                <th>Count</th>
                <th>Prom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="cart-items"></tbody>
        </table>
        <button id="send-data" class="sale-button button button-header" type="submit">Create Check</button>
    </div>

    <script>
        const addToCartButtons = document.querySelectorAll('.add-to-cart-button');
        const cartItemsContainer = document.querySelector('.cart-items');

        addToCartButtons.forEach((button) => {
            button.addEventListener('click', () => {

                const productRow = button.closest('tr');
                const productData = [...productRow.children].map((td) => td.textContent);
                const countInput = productRow.querySelector('input[name="quantity"]');
                let price = productData[3];
                let count = 1;

                if (countInput.value) {
                    count = parseInt(countInput.value);
                }

                const productId = button.dataset.productId;
                const promotionalCheckbox = productData[5] === 'True';
                const existingCartItem = Array.from(cartItemsContainer.children).find((row) =>
                    row.querySelector('td:nth-child(2)').textContent === productId
                );

                const productCount = parseInt(productData[4]);

                if (count > 0 && count <= productCount && productCount !== 0) {
                    productRow.querySelector('td:nth-child(5)').textContent = productCount - count;
                }

                if (promotionalCheckbox) {
                    price *= 0.8;
                }
                if (count <= productCount && productCount !== 0) {

                    if (existingCartItem) {
                        const existingCountCell = existingCartItem.querySelector('td:nth-child(5)');
                        const existingCount = parseInt(existingCountCell.textContent);
                        existingCountCell.textContent = existingCount + count;
                    } else {
                        const newRow = document.createElement('tr');
                        newRow.innerHTML = `
                <td>${productData[0]}</td>
                <td>${productData[1]}</td>
                <td>${productData[2]}</td>
                <td>${price}</td>
                <td>${count}</td>
                <td>${productData[5]}</td>
                <td><button class="delete-button button button-header">Delete</button></td>
            `;
                        cartItemsContainer.appendChild(newRow);
                    }
                }
            });
        })
        ;

        cartItemsContainer.addEventListener('click', (event) => {
            if (event.target.classList.contains('delete-button')) {
                const cartItemRow = event.target.closest('tr');
                const countCell = cartItemRow.querySelector('td:nth-child(5)');
                let count = parseInt(countCell.textContent);

                if (count > 1) {
                    count--;
                    countCell.textContent = count;
                } else {
                    cartItemRow.remove();
                }
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const csrfToken = '{{ csrf_token }}';
        $(document).ready(function () {
            $('#send-data').click(function () {
                const data = [];

                $('.cart-items tr').each(function () {
                    const row = [];
                    $(this).find('td').each(function () {
                        row.push($(this).text());
                    });
                    data.push(row);
                });

                const hasPrice = $('.cart-items td:nth-child(4):not(:empty)').length > 0;

                if (hasPrice) {

                    $.ajax({
                        url: 'createcheck/',
                        method: 'GET',
                        data: {data: JSON.stringify(data)},
                        success: function () {
                            window.location.href = '/home/sale/';
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });

                }
            });
        });
    </script>

{% endblock %}