{% extends 'base.html' %}

{% block title %}
    Create Check
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">

{% endblock %}

{% block content %}
    <div class="header">
        <a class="button button-back" onclick="location.href='/home/'"> <span class="arrow">➜</span> Back</a>
    </div>
    <div class="checkout-container">
        <h2 class=" h2 title">Products</h2>

        <table class="table styled-table sale-table">
            <thead>
            <tr>
                <th>UPC</th>
                <th>Product ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Prom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.0 }}</td>
                    <td>{{ product.1 }}</td>
                    <td>{{ product.2 }}</td>
                    <td>{{ product.3 }}</td>
                    <td>{{ product.4 }}</td>
                    <td>{{ product.5 }}</td>
                    <td class="td-btn">
                        <input class="td-quantity" type="number" name="quantity" min="1" value="1">

                        <button class="add-to-cart-button button button-header" data-product-id="{{ product.1 }}">Add
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 class=" h2 title">Customers</h2>
        <input type="text" class="card-input" name="card-input" id="card-input" placeholder="Enter phone number">
        <button id="submit-card" class="submit-card sale-button button button-header" type="submit">Submit</button>

        <h2 class=" h2 title">Check</h2>
        <table class="cart-table table styled-table sale-table">
            <thead>
            <tr>
                <th>UPC</th>
                <th>Product ID</th>
                <th>Name</th>
                <th>Selling price</th>
                <th>Count</th>
                <th>Prom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="cart-items"></tbody>
        </table>

        <div class="total-price">
            <h3 class="title h2 top-marg">Total price:</h3>

            <h3 class="title h2 top-marg left-marg"></h3>
        </div>

        <input type="hidden" id="customer-percent" value="">
        <button id="send-data" class="sale-button button button-header" type="submit">Create Check</button>
    </div>

    <script>
        const addToCartButtons = document.querySelectorAll('.add-to-cart-button');
        const cartItemsContainer = document.querySelector('.cart-items');
        const totalPriceElement = document.querySelector('h3.left-marg');
        const submitCard = document.querySelector('button.submit-card');

        function updateTotalPrice() {
            const customerPercentInput = document.getElementById('customer-percent').value;
            let totalPrice = 0;

            const cartItemRows = cartItemsContainer.querySelectorAll('tr');
            cartItemRows.forEach((row) => {
                const priceCell = row.querySelector('td:nth-child(4)');
                const countCell = row.querySelector('td:nth-child(5)');
                const price = parseFloat(priceCell.textContent);
                const count = parseInt(countCell.textContent);

                totalPrice += price * count * customerPercentInput;
            });

            totalPriceElement.textContent = totalPrice.toFixed(2); // Update total price element
        }

        // Call the function initially to set the initial total price
        updateTotalPrice();

        submitCard.addEventListener('click', () => {
            const cardInput = document.querySelector('.card-input').value;

            $.ajax({
                url: '/home/customers_list/get_customer_percent_by_name/',
                method: 'GET',
                data: {
                    customer_number: cardInput,
                },
                success: function (response) {
                    const customerPercentInput = document.getElementById('customer-percent');
                    const customerInput = document.getElementById('card-input');
                    if (response.percent > 0) {
                        customerPercentInput.value = response.percent;
                        customerInput.classList.remove('customer-percent-highlight-red')
                        customerInput.classList.add('customer-percent-highlight');
                    }


                },
                error: function (error) {
                    const customerInput = document.getElementById('card-input');
                    customerInput.classList.add('customer-percent-highlight-red');
                }
            });
        });


        addToCartButtons.forEach((button) => {
            button.addEventListener('click', () => {

                const productRow = button.closest('tr');
                const productData = [...productRow.children].map((td) => td.textContent);
                const countInput = productRow.querySelector('input[name="quantity"]');
                let price = productData[3];
                let count = 1;

                if (countInput.value) {
                    count = parseInt(countInput.value);
                }

                const productId = button.dataset.productId;
                const promotionalCheckbox = productData[5] === 'True';
                const existingCartItem = Array.from(cartItemsContainer.children).find((row) =>
                    row.querySelector('td:nth-child(2)').textContent === productId
                );

                const productCount = parseInt(productData[4]);

                if (count > 0 && count <= productCount && productCount !== 0) {
                    productRow.querySelector('td:nth-child(5)').textContent = productCount - count;
                }

                if (promotionalCheckbox) {
                    price *= 0.8;
                }
                if (count <= productCount && productCount !== 0) {

                    if (existingCartItem) {
                        const existingCountCell = existingCartItem.querySelector('td:nth-child(5)');
                        const existingCount = parseInt(existingCountCell.textContent);
                        existingCountCell.textContent = existingCount + count;
                    } else {
                        const newRow = document.createElement('tr');
                        newRow.innerHTML = `
                <td>${productData[0]}</td>
                <td>${productData[1]}</td>
                <td>${productData[2]}</td>
                <td>${price}</td>
                <td>${count}</td>
                <td>${productData[5]}</td>
                <td><button class="delete-button button button-header">Delete</button>
                <button class="delete-all-button button button-header">Delete All</button></td>
            `;
                        cartItemsContainer.appendChild(newRow);
                    }
                }
                updateTotalPrice();
            });
        })
        ;

        cartItemsContainer.addEventListener('click', (event) => {
            if (event.target.classList.contains('delete-button')) {
                const cartItemRow = event.target.closest('tr');
                const countCell = cartItemRow.querySelector('td:nth-child(5)');
                let count = parseInt(countCell.textContent);

                if (count > 1) {
                    count--;
                    countCell.textContent = count;
                    updateTotalPrice();
                } else {
                    cartItemRow.remove();
                    updateTotalPrice();
                }
            }
        });

        cartItemsContainer.addEventListener('click', (event) => {
            if (event.target.classList.contains('delete-all-button')) {
                const cartItemRow = event.target.closest('tr');
                cartItemRow.remove();
                updateTotalPrice();
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const csrfToken = '{{ csrf_token }}';
        $(document).ready(function () {
            $('#send-data').click(function () {
                const data = [];
                const cardInfo = $('.card-input').val();

                $('.cart-items tr').each(function () {
                    const row = [];
                    $(this).find('td').each(function () {
                        row.push($(this).text());
                    });
                    data.push(row);
                });

                const hasPrice = $('.cart-items td:nth-child(4):not(:empty)').length > 0;

                if (hasPrice) {

                    $.ajax({
                        url: 'createcheck/',
                        method: 'GET',
                        data: {
                            data: JSON.stringify(data),
                            card_info: cardInfo
                        },
                        success: function () {
                            window.location.href = '/home/sale/';
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });

                }
            });
        });
    </script>

{% endblock %}