{% extends 'base.html' %}

{% block title %}
    Employee List
{% endblock %}


{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <button class="button button-back" onclick="location.href='/manager'"><span class="arrow">➜</span> Back
        </button>

        <button class="button button-header btn-addempl" onclick="location.href='/manager/employees/addemployee'">
            Add Employee
        </button>
        <button class="button button-header btn-all-only" id="search-all">All</button>
        <button class="button button-header btn-all-only" id="search-sales">Sales</button>
        <button class="button button-header btn-all-only" onclick="window.print()">Print</button>

        <div class="queries-div">
            <button class="button button-header btn-all-only" id="count-success"
                    onclick="location.href='/manager/employees/empl_counts'">Success
            </button>

            <button class="button button-header btn-all-only" id="sold-all-product"
                    onclick="location.href='/manager/employees/sold_all'">Sold All
            </button>

            <button class="button button-header btn-all-only" id="sold-all-product"
                    onclick="location.href='/manager/employees/sold_less'">Zhenya first
            </button>

            <button class="button button-header btn-all-only" id="sold-all-product"
                    onclick="location.href='/manager/employees/not_sold'">Zhenya sec
            </button>
        </div>


        <div class="search-wrapper">
            <input type="text" class="search-input" id="search-input" placeholder="Enter surname">
            <button class="button button-header btn-all-only" id="b-search-by-surname" type="submit">Search</button>
        </div>

    </div>
    <div>
        {% include 'manager/employee/empl_table.html' %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        document.getElementById("b-search-by-surname").addEventListener("click", function () {
            const surname = document.getElementById("search-input").value;
            $.ajax({
                url: '/manager/employees/get_empl_by_surname/',
                method: 'GET',
                data: {surname: surname},
                success: function (response) {
                    $('#empl_list').html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
        document.getElementById("search-all").addEventListener("click", function () {
            const surname = '';
            $.ajax({
                url: '/manager/employees/get_empl_by_surname/',
                method: 'GET',
                data: {surname: surname},
                success: function (response) {
                    $('#empl_list').html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
        document.getElementById("search-sales").addEventListener("click", function () {
            $.ajax({
                url: '/manager/employees/onlysales/',
                method: 'GET',
                success: function (response) {
                    $('#empl_list').html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
        document.getElementById("b-search-by-surname").addEventListener("click", function () {
            const surname = document.getElementById("search-input").value;
            $.ajax({
                url: '/manager/employees/get_empl_by_surname/',
                method: 'GET',
                data: {surname: surname},
                success: function (response) {
                    $('#empl_list').html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>

{% endblock %}
