{% extends 'base.html' %}

{% block title %}
    Product List
{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <a class="button button-back" onclick="history.back()"> <span class="arrow">➜</span> Back </a>

        <select class="invisible-select" id="category-select">
            <option disabled selected>default</option>
            {% for category in categories %}
                <option value='{{ category.0 }}'>{{ category.0 }}</option>
            {% endfor %}
        </select>
        <div class="dropdown">
            <div class="select">
                <span>Select Category</span>
                <i class="fa fa-chevron-down arrow-margin"></i>
            </div>
            <input type="hidden" id="gender" name="gender">
            <ul class="dropdown-menu">
                {% for category in categories %}
                    <li onclick="selectCat('{{ category.0 }}')">{{ category.0 }}</li>
                {% endfor %}
            </ul>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function selectCat(id) {
                console.log(id);
                document.getElementById("category-select").value = id;
            }

            $('.dropdown').click(function () {
                $(this).attr('tabindex', 1).focus();
                $(this).toggleClass('active');
                $(this).find('.dropdown-menu').slideToggle(300);
            });

            $('.dropdown').focusout(function () {
                $(this).removeClass('active');
                $(this).find('.dropdown-menu').slideUp(300);
            });

            $('.dropdown .dropdown-menu li').click(function () {
                $(this).parents('.dropdown').find('span').text($(this).text());
                $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
            });

            $('.dropdown-menu li').click(function () {
                var input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
                    msg = '<span class="msg">Hidden input value: ';
                $('.msg').html(msg + input + '</span>');
            });
        </script>

        <div class="search-wrapper">
            <input type="text" class="search-input" id="search-input" placeholder="Name">

            <button class="button button-header" id="b-search-by-name" type="submit">Search</button>

            <button class="button button-header" onclick="location.href='/home/product_view/'">Clear</button>
        </div>
    </div>

    {% include 'sales/products/product_view_table.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        document.getElementById("b-search-by-name").addEventListener("click", function () {
            const name = document.getElementById("search-input").value;
            $.ajax({
                url: '/home/product_view/get_product_by_name/',
                method: 'GET',
                data: {name: name},
                success: function (response) {
                    $('#product-table').html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $(document).ready(function () {
            $('#gender').siblings('.dropdown-menu').find('li').click(function () {
                const selectedCategory = $(this).text().trim();
                updateProductList(selectedCategory);
            });

            function updateProductList(category) {
                $.ajax({
                    url: '/home/product_view/search_category/',
                    method: 'GET',
                    data: {category: category},
                    success: function (response) {
                        $('#product-table').html(response.html);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>

{% endblock %}
