{% extends 'base.html' %}

{% block title %}
    Today Checks List
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <a class="button button-back" onclick="history.back()"> <span class="arrow">➜</span> Back </a>
    </div>

    <table class="table styled-table" id="check_today">
        <thead>
        <tr>
            <th>Check Number</th>
            <th>Card Number</th>
            <th>Print Date</th>
            <th>Sum Total</th>
            <th>Vat</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="today">
        {% for check in checks %}
            <tr>
                <td>{{ check.0 }}</td>
                <td>{{ check.1 }}</td>
                <td>{{ check.2 }}</td>
                <td>{{ check.3 }}</td>
                <td>{{ check.4 }}</td>
                <td>
                    <a class="button button-header" href="{% url 'watch_check_sales' check.0 %}">Watch</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}