    <table class="table styled-table" id="my_info">
        <thead>
        <tr>
            <th class="no-border">Full Name</th>
            <th>Role</th>
            <th>Salary</th>
            <th>Date of Birth</th>
            <th>Date of Start</th>
            <th>Phone Number</th>
            <th>City</th>
            <th>Street</th>
            <th>Zip Code</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ employee.1 }} {{ employee.2 }} {{ employee.3 }}</td>
                <td>{{ employee.4 }}</td>
                <td>{{ employee.5 }}</td>
                <td>{{ employee.6 }}</td>
                <td>{{ employee.7 }}</td>
                <td>{{ employee.8 }}</td>
                <td>{{ employee.9 }}</td>
                <td>{{ employee.10 }}</td>
                <td>{{ employee.11 }}</td>
                <td>{{ employee.12 }}</td>
            </tr>
        </tbody>
    </table>