{% extends 'base.html' %}

{% block title %}
    Watch Check
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <a class="button button-back" onclick="history.back()"> <span class="arrow">➜</span> Back to Checks</a>
    </div>

    <h2 class="title h2 checkout-container">Check Details</h2>
    <table class="styled-table sale-table" id='check_list'>
        <thead>
        <tr>
            <th>UPC</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.0 }}</td>
                <td>{{ sale.1 }}</td>
                <td>{{ sale.2 }}</td>
                <td>{{ sale.3 }}</td>
                <td>{{ sale.4 }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="total-price">
        <h3 class="title h2 top-marg">Total price:</h3>

        <h3 class="title h2 top-marg left-marg">{{ sum_total }}</h3>
    </div>
{% endblock %}
