.table {
    padding: 30px;
    width: 100%;
    margin-top: 70px;
}

.header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    background-color: #d5ebc8;
    align-items: center;
    gap: 5px;
    margin-left: 0;
    height: 70px;
    left: 0;
}

.button-back {
    background-color: #d5ebc8;
    color: #4A4A4A;
    font-weight: bolder;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.arrow {
    transform: rotate(180deg);
    display: block;
    margin-right: 4px;
    font-size: 16px;
}

.button-header {
    border-radius: 7px;
}

.search-input {
    border-radius: 7px;
    padding: 5px 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}

.search-wrapper {
    margin-left: auto;
    margin-right: 20px;
}

.td-btn {
    display: flex;
    justify-content: center;
}
