.table {
    padding: 30px;
    width: 100%;
    margin-top: 70px;
}

.header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    background-color: #5495ef42;
    align-items: center;
    gap: 5px;
    margin-left: 0;
    height: 70px;
    left: 0;
}

.button-back {
    background-color: #5495ef00;
    color: #4A4A4A;
    font-weight: bolder;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.arrow {
    transform: rotate(180deg);
    display: block;
    margin-right: 4px;
    font-size: 16px;
}

.button-header {
    border-radius: 7px;
}

.btn-addempl {
    margin-left: 35px;
    margin-right: 25px;
}

.btn-all-only {
    width: 70px;
}

.search-input {
    border-radius: 7px;
    padding: 5px 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}

.search-wrapper {
    margin-left: auto;
    margin-right: 20px;
}

.td-btn {
    display: flex;
    justify-content: flex-start;
}

.styled-table {
    padding: 30px;
    width: 100%;
    margin-top: 80px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #2d3142;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #2d3142;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #2d3142;
}

.dropdown {
    outline: 0;
    width: 160px;
    height: 30px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    text-align: left;
    border-radius: 7px;
}

.dropdown .select {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border-radius: 7px;
}

.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
    background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}

.dropdown.active .select > i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

input[type="date"] {
    padding: 0px 10px;
    border: none;
    height: 30px;
    outline: none;
    border-radius: 7px;
}

#search-input {
    height: 30px;
    outline: none;
    border: 0;
    border-radius: 7px;
    padding: 0 10px;
}

.sort-button {
    background: none;
    outline: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

.in-store-head {
    display: flex;
    justify-content: space-between;
}

.upc-enter {
    margin-right: 16px;
}