form {
    margin: auto;
    width: 485px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 5px;
}

#category {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #2d3142;
    border-radius: 7px;
    font-family: "Arial";
}

.checkbox {
    margin: 2.2px;
    position: absolute;
    bottom: 0;
}

.label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    font-family: "Arial";
    font-size: 13px;
    color: #2d3142;
}

input[type="date"] {
    padding: 0px 10px;
    outline: none;
    border-radius: 7px;
    font-family: "Arial";
    color: #2d3142;
}

.button-back {
    background-color: #5495ef00;
    color: #4A4A4A !important;
    font-weight: bolder;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.button-confirm {
    margin-left: auto;
    margin-right: auto;
    width: 171px;
    height: 40px;
    margin-top: 10px;
}
.arrow {
    color: #4A4A4A;
    transform: rotate(180deg);
    display: block;
    margin-right: 4px;
    font-size: 16px;
}

.header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: #5495ef42;
    align-items: center;
    gap: 5px;
    margin-left: 0;
    height: 70px;
    left: 0;
}

.form {
    margin-top: 80px;
}

.small-width {
    width: 300px !important;
}

.select-parameters {
    height: 37px !important;
    width: 320px !important;
}

.input {
    height: 35px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 0 10px;
    box-shadow: none;
    font-size: 16px;
    width: 100%;
}

.btn-div {
    width: calc(100% + 21.5px);
    display: flex;
    justify-content: center;
    position: relative;
}

.form-wrapper{
    display: flex;
    width: 100%;
    gap: 35px;
}

.gap-select {
    gap: 15px !important;
}

.el-wrapper {
    width: 100%;
}

.select-empl {
    height: 36.5px;
    width: 246px;
}

.marg-select {
    margin-top: 1px;
}

.checkbox-div {
    margin-top: 10px;
    display: flex;
    align-content: center;
}

.checkbox-label {
    margin: 1px;
}

.form-button {
    padding: 12px 0;
    width: 300px;
}

.form-btn-div {
    margin-bottom: 15px;
}

.form-wrapper-width {
    width: calc(100% + 21.5px);
}

.heading-marg {
    margin-bottom: 0;
}

.small-marg-bottom {
    margin-bottom: 7px;
}

.small-marg-top {
    margin-top: 6.5px !important;
}

.full-marg-checkbox {
    margin:0 0 1px 4px;
}

h2 {
    width: calc(100% + 21.5px);
    display: flex;
    justify-content: center;
    font-family: "Arial";
    color: #2d3142;
}
