body {
    display: flex;
    flex-direction: column;

}

.header {
    height: 70px;
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #5495ef42;
    align-items: center;
}

.header-title {
    margin-left: 30px;
}

.title {
    text-align: center;
    margin-bottom: 70px;
}

.btn-manager {
    width: 210px;
}

.logout-btn {
    background-color: #2d3142;
    color: white;
    padding: 10px 20px;
    margin-right: 50px;
    font-size: 16px;
    font-family: 'Arial';
    border: none;
    cursor: pointer;
    border-radius: 4px
}
