{% extends 'base.html' %}

{% block title %}
    Create Employee
{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_empl.css' %}">
{% endblock %}

{% block content %}
    <a id="create-employee-btn" onclick="location.href='/manager/employees'"><</a>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="surname">Surname:</label>
            <div><input type="text" id="surname" name="surname" required></div>
        </div>
        <div>
            <label for="name">Name:</label>
            <div><input type="text" id="name" name="name" required></div>
        </div>
        <div>
            <label for="patronymic">Patronymic:</label>
            <div><input type="text" id="patronymic" name="patronymic"></div>
        </div>
        <div>
            <label for="role">Role:</label>
            <div><input type="text" id="role" name="role" required></div>
        </div>
        <div>
            <label for="salary">Salary:</label>
            <div><input type="number" id="salary" name="salary" required></div>
        </div>
        <div>
            <label for="date_of_birth">Date of Birth:</label>
            <div><input type="date" id="date_of_birth" name="date_of_birth" required></div>
        </div>
        <div>
            <label for="date_of_start">Date of Start:</label>
            <div><input type="date" id="date_of_start" name="date_of_start" required></div>
        </div>
        <div>
            <label for="phone_number">Phone Number:</label>
            <div><input type="tel" id="phone_number" name="phone_number" required></div>
        </div>
        <div>
            <label for="city">City:</label>
            <div><input type="text" id="city" name="city" required></div>
        </div>
        <div>
            <label for="street">Street:</label>
            <div><input type="text" id="street" name="street" required></div>
        </div>
        <div>
            <label for="zip_code">Zip Code:</label>
            <div><input type="text" id="zip_code" name="zip_code" required></div>
        </div>
        <div>
            <label for="email">Email:</label>
            <div><input type="email" id="email" name="email" required></div>
        </div>
        <div>
            <label for="password">Password:</label>
            <div><input type="password" id="password" name="password" required></div>
        </div>
        <div>
            <button id="create-employee-btn">Create Employee</button>
        </div>
    </form>


{% endblock %}
