{% extends 'base.html' %}

{% block title %}
    Employee List
{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
{% endblock %}

{% block content %}
    <a class="button" onclick="location.href='/manager/'"><</a>
    <div>
    <a class="button" onclick="location.href='/manager/employees/addemployee'">Add Employee</a>
    <a class="button" href="{% url 'empl_list' %}">All</a>
    <a class="button" href="{% url 'empl_only_sales_list' %}">Only Sales</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Role</th>
            <th>Salary</th>
            <th>Date of Birth</th>
            <th>Date of Start</th>
            <th>Phone Number</th>
            <th>City</th>
            <th>Street</th>
            <th>Zip Code</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.1 }} {{ employee.2 }} {{ employee.3 }}</td>
                <td>{{ employee.4 }}</td>
                <td>{{ employee.5 }}</td>
                <td>{{ employee.6 }}</td>
                <td>{{ employee.7 }}</td>
                <td>{{ employee.8 }}</td>
                <td>{{ employee.9 }}</td>
                <td>{{ employee.10 }}</td>
                <td>{{ employee.11 }}</td>
                <td>{{ employee.12 }}</td>
                <td>
                    <a class="button" href="{% url 'edit_employee' employee.0 %}">Edit</a>
                    <form method="POST" action="{% url 'delete_employee' employee.0 %}">
                        {% csrf_token %}
                        <button class="button" type="submit" onclick="return confirm('Are you sure?');">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
