{% extends 'base.html' %}

{% block title %}
    Create Product
{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <button class="button button-back" id="create-employee-btn" onclick="location.href='/manager/instoreproducts'">
            <span class="arrow">➜</span> Back
        </button>
    </div>

    <form class="form" method="post">
        {% csrf_token %}
        <h2 class="heading-marg">Add product form</h2>

        <div class=" form-wrapper btn-div form-wrapper-width">
            <div class="el-wrapper form-btn-div">
                <label class="label" for="upc">UPC:</label>

                <div><input class="input" type="text" id="upc" name="upc" required></div>
            </div>

            <div class="el-wrapper form-button">
                <button class="button button-confirm" id="create-employee-btn" onclick="generateUPC()">Generate UPC
                </button>
            </div>
        </div>

        <div class="btn-div">
            <select class="input" id="product" name="product" onchange="updateFields(this)">
                <option value="" disabled selected hidden>Select product</option>
                {% for product in products %}
                    <option value="{{ product.0 }}">{{ product.2 }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label class="label" for="id">ID:</label>

            <div><input class="input" type="text" id="id" name="id" readonly></div>
        </div>

        <div class="form-wrapper">
            <div class="el-wrapper">
                <label class="label" for="price">Price:</label>

                <div><input class="input" type="number" id="price" name="price" required></div>
            </div>
            <div class="el-wrapper">
                <label class="label" for="count">Count:</label>

                <div><input class="input" type="number" id="count" name="count" required></div>
            </div>
        </div>

        <div class="btn-div checkbox-div">
            <label class="label checkbox-label" for="prom">Prom:</label>

            <input type="checkbox" class="checkbox-add" id="prom" name="prom">
        </div>

        <div class="btn-div">
            <button class="button button-confirm" id="create-employee-btn">Create Product</button>
        </div>
    </form>

    <script>
        function updateFields(selectElement) {
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            const id = selectedOption.getAttribute("value");
            const productName = selectedOption.text;

            document.getElementById("id").value = id;
            document.getElementById("name").value = productName;
        }

        function generateUPC() {
            let randomNumber = "";
            const digits = "0123456789";

            for (let i = 0; i < 12; i++) {
                const randomIndex = Math.floor(Math.random() * digits.length);
                randomNumber += digits.charAt(randomIndex);
            }
            document.getElementById("upc").value = randomNumber;
        }
    </script>

{% endblock %}
