{% extends 'base.html' %}

{% block title %}
    Edit Product
{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <button class="button button-back" onclick="history.back()">
            <span class="arrow">➜</span> Back
        </button>
    </div>

    <form class="form" method="post">
        {% csrf_token %}
        <h2 class="small-marg-bottom"> Edit product menu</h2>
        <div class=" form-wrapper btn-div form-wrapper-width">
            <div class="el-wrapper">
                <label>
                    <input class="input" type="text" id="upc" name="upc" value="{{ product.0 }}">
                </label>
            </div>

            <div class="el-wrapper small-width">
                <button class="button button-confirm small-marg-top" id="create-employee-btn" onclick="generateUPC()">
                    Generate UPC
                </button>
            </div>
        </div>

        <label class="label small-marg-top" for="id">ID:
            <input class="input" type="number" id="id" name="id" value="{{ product.1 }}" readonly>
        </label>

        <label class="label" for=name>Name:
            <input class="input" type="text" id="name" name="name" value="{{ product.2 }}" readonly>
        </label>

        <label class="label" for="price">Price:
            <input class="input" type="number" id="price" name="price" value="{{ product.3 }}">
        </label>

        <label class="label" for="count">Count:
            <input class="input" type="number" id="count" name="count" value="{{ product.4 }}">
        </label>

        <div class="btn-div">
            <label class="label" for="prom">Prom:
                <input class="checkbox full-marg-checkbox" type="checkbox" id="prom" name="prom"
                        {% if product.5 %}
                       checked
                        {% endif %}>
            </label>
        </div>

        <div class="btn-div">
            <button class="button button-confirm"> Update</button>
        </div>
    </form>

    <script>
        function generateUPC() {
            let randomNumber = "";
            const digits = "0123456789";

            for (let i = 0; i < 12; i++) {
                const randomIndex = Math.floor(Math.random() * digits.length);
                randomNumber += digits.charAt(randomIndex);
            }
            document.getElementById("upc").value = randomNumber;
        }
    </script>

{% endblock %}