{% for product in products %}
    <tr>
        <td>{{ product.0 }}</td>
        <td>{{ product.1 }}</td>
        <td>{{ product.2 }}</td>
        <td>{{ product.3 }}</td>
        <td>{{ product.4 }}</td>
        <td>{{ product.5 }}</td>
        <td>
            <div class="td-btn">
                <a class="button button-header" href="{% url 'edit_in_store_product' product.1 %}">Edit</a>

                <form method="POST" action="{% url 'delete_in_store_product' product.1 %}">
                    {% csrf_token %}
                    <button class="button button-header" type="submit" onclick="return confirm('Are you sure?');">
                        Delete
                    </button>
                </form>
            </div>
        </td>
    </tr>
{% endfor %}

