{% extends 'base.html' %}

{% block title %}
    Product List
{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
{% endblock %}

{% block content %}
    <a class="button" onclick="location.href='/manager/'"><</a>
    <div>
        <a class="button" onclick="location.href='/manager/instoreproducts/addproduct'">Add Product</a>
    </div>
    <label>
        <input type="text" id="search-input" placeholder="Enter UPC">
        <button class="button" id="b-search-by-upc" type="submit">Search</button>
    </label>

    <label>
        <select id="products" name="products" >
            {% for prod in prod_name %}
                <option value='{{ prod.0 }}'>{{ prod.1 }}</option>
            {% endfor %}
        </select>
        <input type="date" id="search-product">
        <lable>-</lable>
        <input type="date" id="search-product-end">

        <button class="button" id="b-search-product" type="submit">Find product</button>
    </label>
    <div>
        <label for="is-prom">Prom</label>
    <input type="checkbox" id="is-prom" onclick="sortTable(4, this)">

    <label for="not-prom">Not prom</label>
    <input type="checkbox" id="not-prom" onclick="sortTable(5, this)">
    </div>
    <table id="is_store_table">
        <thead>
        <tr>
            <th>UPC</th>
            <th>Product ID</th>
            <th>Name
                <button class="sort-button" data="name" onclick="sortTable(1, this)">▲</button>
            </th>
            <th>Selling price
                <button class="sort-button" data="price" onclick="sortTable(2, this)">▲</button>
            </th>
            <th>Count
                <button class="sort-button" data="count" onclick="sortTable(3, this)">▲</button>
            </th>
            <th>Prom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="in_store_list">
        {% include 'manager/in_store_products/in_store_product_table.html' %}
        </tbody>
    </table>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
            document.getElementById("b-search-product").addEventListener("click", function () {
            const product = document.getElementById("products").value;
            const requested_date = document.getElementById("search-product").value;
            const requested_date_end = document.getElementById("search-product-end").value;

            $.ajax({
                url: '/manager/instoreproducts/find_product/',
                method: 'GET',
                data: { requested_date: requested_date, product: product,requested_date_end:requested_date_end},
                success: function (response) {
                    $($('#is_store_table')).html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        function sortTable(choice, element) {
            const isProm = document.getElementById("is-prom").checked;
            const notProm = document.getElementById("not-prom").checked;
            const checkboxChecked = getCheckboxChecked(isProm, notProm);
            const selectedValue = getSelectedValue(element);

            toggleCheckboxes(isProm, notProm);
            const column = getColumn(choice);
            sendAjaxRequest(column, checkboxChecked, selectedValue);
            toggleSortButtons(element);
        }

        function getCheckboxChecked(isProm, notProm) {
            if (isProm) {
                return "True";
            } else if (notProm) {
                return "False";
            } else {
                return "True, False";
            }
        }

        function getSelectedValue(element) {
            if (element.classList.contains("sort-button")) {
                return element.innerHTML === "▼" ? "ASC" : "DESC";
            }
            return "DESC";
        }

        function toggleCheckboxes(isProm, notProm) {
            const isPromCheckbox = document.getElementById("is-prom");
            const notPromCheckbox = document.getElementById("not-prom");

            notPromCheckbox.disabled = isProm;
            isPromCheckbox.disabled = notProm;
        }

        function getColumn(choice) {
            switch (choice) {
                case 1:
                    return 'name';
                case 2:
                    return 'price';
                case 3:
                    return 'count';
                default:
                    return setChoice();
            }
        }

        function toggleSortButtons(element) {
            const selectedValue = element.innerHTML;
            if (selectedValue === '▲') {
                $('.sort-button').not(element).html('▲');
                element.innerHTML = '▼';
            } else {
                element.innerHTML = '▲';
            }
        }

        document.getElementById("b-search-by-upc").addEventListener("click", function () {
            const upc = document.getElementById("search-input").value;
            sendSearchRequest(upc);
        });

        function sendAjaxRequest(column, checkboxChecked, selectedValue) {
            $.ajax({
                url: '/manager/instoreproducts/sort_selected/',
                method: 'GET',
                data: {choice: column, prom: checkboxChecked, order: selectedValue},
                success: function (response) {
                    $('#in_store_list').html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function sendSearchRequest(upc) {
            $.ajax({
                url: '/manager/instoreproducts/get_in_store_by_upc/',
                method: 'GET',
                data: {upc: upc},
                success: function (response) {
                    $('#in_store_list').html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function setChoice() {
            const buttons = document.getElementsByClassName("sort-button");
            for (let i = 0; i < buttons.length; i++) {
                const button = buttons[i];
                const value = button.innerHTML;
                if (value === "▼") {
                    return button.getAttribute("data");
                }
            }
            return "name";
        }

        document.getElementById("b-search-sum").addEventListener("click", function () {
            const empl_id = document.getElementById("sum").value;
            const requested_date = document.getElementById("search-sum").value;
            $.ajax({
                url: '/manager/checks/get_all_checks_sum/',
                method: 'GET',
                data: { requested_date: requested_date, empl_id: empl_id },
                success: function (response) {
                    $($('#check_list')).html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}
