{% extends 'base.html' %}

{% block title %}
    Customer List
{% endblock %}


{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <button class="button button-back" onclick="history.back()"><span class="arrow">➜</span> Back</button>
        <button class="button button-header" onclick="location.href='/home/customers/addcustomer'">Add Customer</button>


        <div class="search-wrapper">
            <input type="text" class="search-input" id="search-input" placeholder="Surname">
            <button class="button button-header" id="b-search-by-name" type="submit">Find</button>
            <button class="button button-header" onclick="location.href='/home/customers_view/'">Reset</button>
        </div>
    </div>


    {% include 'sales/customers/customers_table.html' %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById("b-search-by-name").addEventListener("click", function () {
            const name = document.getElementById("search-input").value;
            $.ajax({
                url: '/home/customers_list/get_customer_by_name/',
                method: 'GET',
                data: {name: name},
                success: function (response) {
                    $('#customer_list').html(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>

{% endblock %}
