{% extends 'base.html' %}

{% block title %}
    Edit Customer
{% endblock %}


{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <button class="button button-back" id="create-employee-btn" onclick="history.back()">
            <span class="arrow">➜</span> Back
        </button>
    </div>

    <form class="form" method="post">
        {% csrf_token %}
        <h2>Edit customer menu</h2>
        <label>
            <input class="input" placeholder="Surname" type="text" id="surname" name="surname" value="{{ customer.1 }}">
        </label>
        <label>
            <input class="input" placeholder="Name" type="text" id="name" name="name" value="{{ customer.2 }}">
        </label>
        <label>
            <input class="input" placeholder="Patronymic" type="text" id="patronymic" name="patronymic"
                   value="{{ customer.3 }}">
        </label>
        <label>
            <input class="input" placeholder="Phone number" type="text" id="phone_number" name="phone_number"
                   value="{{ customer.4 }}">
        </label>
        <div class="form-wrapper">
            <label class="el-wrapper">
                <input class="input" placeholder="City" type="text" id="city" name="city" value="{{ customer.5 }}">
            </label>
            <label class="el-wrapper">
                <input class="input" placeholder="Zip code" type="text" id="zip_code" name="zip_code"
                       value="{{ customer.7 }}">
            </label>
        </div>
        <label>
            <input class="input" placeholder="Street" type="text" id="street" name="street" value="{{ customer.6 }}">
        </label>
        <label>
            <input class="input" placeholder="Percent of discount" type="text" id="percent" name="percent"
                   value="{{ customer.8 }}">
        </label>

        <div class="btn-div">
            <button class="button button-confirm"> Update</button>
        </div>
    </form>
{% endblock %}