{% extends 'base.html' %}

{% block title %}
Log in
{% endblock %}

{% block content %}
<div id="bg"></div>

<form action="{% url 'submit_form' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-field">
            {{ field }}
        </div>
    {% endfor %}

    <div class="form-field">
        <button id="login-btn" class="btn" type="submit" onclick="animateButton('red')">Log in</button>
    </div>
</form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function animateButton(color) {
        var btn = $('#login-btn');
        setTimeout(function () {
            btn.css('background-color', color);
            btn.css('transition', '0.7s')
        }, 700);
    }
</script>

{% endblock %}