{% extends 'base.html' %}

{% block title %}
    Employee List
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">

{% endblock %}

{% block content %}
    <div class="header">

        <a class="button button-back" onclick="location.href='/home/'"> <span class="arrow">➜</span> Back </a>
    </div>

    <br>
    <br>
    <br>
    <br>
    <h2>Find check</h2>
    <div style="width: 300px; margin: auto; display: flex; flex-direction: column; align-items: center" class="check-input">
        <input class="input" type="text" id="check-number" placeholder="Check Number:" name="check-number">
        <button style=" background-color: #ef8354; width: 120px; margin-top: 15px" class="button button-header" id="b-find" type="submit" onclick="findCheck()">Find</button>
    </div>

    <script>
        function findCheck() {
            var checkNumber = document.getElementById("check-number").value;
            var url = '/home/find_check_view/found_check?check_number=' + checkNumber;
            window.location.href = url;
        }
    </script>
{% endblock %}
