{% extends 'base.html' %}

{% block title %}
    Fround Check
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
    <meta http-equiv="refresh" content="no-cache, no-store, must-revalidate">
{% endblock %}

{% block content %}
    <div class="header">
        <a class="button button-back" onclick="history.back()"> <span class="arrow">➜</span> Back </a>
    </div>

    <table class="table styled-table" id="check_list">
        <thead>
        <tr>
            <th>Check Number</th>
            <th>Employee</th>
            <th>Card Number</th>
            <th>Print Date</th>
            <th>Sum Total</th>
            <th>Vat</th>
        </tr>
        </thead>
        <tbody>
        {% for check in checks %}
            <tr>
                {% for field in check %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table styled-table" id="sale_list">
        <thead>
        <tr>
            <th>UPC</th>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                {% for field in sale %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}