<a class="button" onclick="location.href='/manager/'"><</a>
    <div><a class="button" onclick="location.href='/manager/instoreproducts/addproduct'">Add Product</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>UPC</th>
            <th>Product ID</th>
            <th>Name</th>
            <th>Selling price</th>
            <th>Count</th>
            <th>Prom</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.0 }} </td>
                <td>{{ product.1 }} </td>
                <td>{{ product.2 }} </td>
                <td>{{ product.3 }} </td>
                <td>{{ product.4 }} </td>
                <td>{{ product.5 }} </td>

                <td>
                    <a class="button" href="{% url 'edit_in_store_product' product.1 %}">Edit</a>
                    <form method="POST" action="{% url 'delete_in_store_product' product.1 %}">
                        {% csrf_token %}
                        <button class="button" type="submit" onclick="return confirm('Are you sure?');">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>