{% extends 'base.html' %}

{% block title %}
    Customer List
{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
{% endblock %}

{% block content %}
    <a class="button" onclick="location.href='/manager/'"><</a>
    <div><a class="button" onclick="location.href='/manager/customers/addcustomer'">Add Customer</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>City</th>
            <th>Street</th>
            <th>Zip Code</th>
            <th>Percent</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.1 }} {{ customer.2 }} {{ customer.3 }}</td>
                <td>{{ customer.4 }}</td>
                <td>{{ customer.5 }}</td>
                <td>{{ customer.6 }}</td>
                <td>{{ customer.7 }}</td>
                <td>{{ customer.8 }}</td>
                <td>
                    <a class="button" href="{% url 'edit_customer' customer.0 %}">Edit</a>
                    <form method="POST" action="{% url 'delete_customer' customer.0 %}">
                        {% csrf_token %}
                        <button class="button" type="submit" onclick="return confirm('Are you sure?');">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
