<table id="product-table">
    <thead>
    <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Characteristics</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.1 }} </td>
            <td>{{ product.2 }} </td>
            <td>{{ product.3 }} </td>

            <td>
                <a class="button" href="{% url 'edit_product' product.0 %}">Edit</a>
                <form method="POST" action="{% url 'delete_product' product.0 %}">
                    {% csrf_token %}
                    <button class="button" type="submit" onclick="return confirm('Are you sure?');">Delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>