{% extends 'base.html' %}

{% block title %}
    Customer List
{% endblock %}


{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <a class="button button-back" onclick="location.href='/manager/'"> <span class="arrow">➜</span> Back </a>
        <a class="button button-header" onclick="location.href='/manager/categories/addcategory'">Add Category</a>
        <a class="button button-header" onclick="window.print()">Print</a>
    </div>
    <div>
        <table class="styled-table">
            <thead>
            <tr>
                <th>Category ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.0 }}</td>
                    <td>{{ category.1 }}</td>
                    <td>
                        <div class="td-btn">
                            <a class="button button-header" href="{% url 'edit_category' category.0 %}">Edit</a>
                            <form method="POST" action="{% url 'delete_category' category.0 %}">
                                {% csrf_token %}
                                <button class="button button-header" type="submit"
                                        onclick="return confirm('Are you sure?');">Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if categories.has_other_pages %}
        <div class="pagination">
            {% if categories.has_previous %}
                <a href="?page={{ categories.previous_page_number }}">Previous</a>
            {% endif %}

            {% for page in categories.paginator.page_range %}
                {% if page == categories.number %}
                    <span class="current-page">{{ page }}</span>
                {% else %}
                    <a href="?page={{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if checks.has_next %}
                <a href="?page={{ checks.next_page_number }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
