{% extends 'base.html' %}

{% block title %}
    Category List
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <button class="button button-back" onclick="location.href='/manager'"><span class="arrow">➜</span> Back
        </button>

        <button class="button button-header" onclick="location.href='/manager/categories/addcategory'">Add Category
        </button>

        <button class="button button-header" onclick="window.print()">Print</button>

        <form method="POST" action="{% url 'find_category' %}">
            {% csrf_token %}
            <div class="queries-div">
                <label for="option"></label>
                <select class="invisible-select" name="option" id="option">
                    <option value="Prom">Prom</option>
                    <option value="NotProm">NotProm</option>
                </select>
                <div class="dropdown">
                    <div class="select">
                        <span>Select option</span>
                        <i class="fa fa-chevron-down arrow-margin"></i>
                    </div>
                    <input type="hidden" name="gender">
                    <ul class="dropdown-menu">
                        <li onclick="selectProm('Prom')"> Prom</li>
                        <li onclick="selectProm('NotProm')"> NotProm</li>
                    </ul>
                </div>

                <button class="button button-header" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div>
        <table id class="styled-table">
            <thead>
            <tr>
                <th>Category ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.0 }}</td>
                    <td>{{ category.1 }}</td>
                    <td>
                        <div class="td-btn">
                            <a class="button button-header" href="{% url 'edit_category' category.0 %}">Edit</a>

                            <form method="POST" action="{% url 'delete_category' category.0 %}">
                                {% csrf_token %}
                                <button class="button button-header" type="submit"
                                        onclick="return confirm('Are you sure?');">Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function selectProm(id) {
            console.log(id);
            document.getElementById("option").value = id;
        }

        $('.dropdown').click(function () {
            $(this).attr('tabindex', 1).focus();
            $(this).toggleClass('active');
            $(this).find('.dropdown-menu').slideToggle(300);
        });

        $('.dropdown').focusout(function () {
            $(this).removeClass('active');
            $(this).find('.dropdown-menu').slideUp(300);
        });

        $('.dropdown .dropdown-menu li').click(function () {
            $(this).parents('.dropdown').find('span').text($(this).text());
            $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
        });

        $('.dropdown-menu li').click(function () {
            const input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
                msg = '<span class="msg">Hidden input value: ';
            $('.msg').html(msg + input + '</span>');
        });
    </script>

{% endblock %}
