{% extends 'base.html' %}

{% block title %}
    Edit Product
{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <button class="button button-back" onclick="location.href='/manager/products'"> <span
                class="arrow">➜</span> Back
        </button>
    </div>

    <form class="form small-width" method="post">
        {% csrf_token %}
        <h2>Edit product menu</h2>

        <label>
            <select class="input select-parameters" id="category" name="category">
                {% for category in categories %}
                    <option value="{{ category.0 }}"
                            {% if category.0 == product.0 %}selected{% endif %}>{{ category.1 }}</option>
                {% endfor %}
            </select>
        </label>

        <label>
            <input class="input" type="text" id="name" name="name" value="{{ product.1 }}">
        </label>

        <label>
            <input class="input" type="text" id="characteristics" name="characteristics" value="{{ product.2 }}">
        </label>

        <div class="btn-div">
            <button class="button button-confirm"> Update</button>
        </div>
    </form>
{% endblock %}