{% extends 'base.html' %}


{% block title %}
    Product List
{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <button class="button button-back" onclick="location.href='/manager/'"> <span class="arrow">➜</span> Back </button>
        <div><button class="button button-header" onclick="location.href='/manager/products/addproduct'">Add Product</button>

            <label>
                <div class="dropdown">
                    <div class="select">
                        <span>Select Category</span>
                        <i class="fa fa-chevron-left"></i>
                    </div>
                    <input type="hidden" name="gender">
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li>{{ category.0 }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <button class="button button-header" onclick="window.print()">Print</button>


                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $('.dropdown').click(function () {
                        $(this).attr('tabindex', 1).focus();
                        $(this).toggleClass('active');
                        $(this).find('.dropdown-menu').slideToggle(300);
                    });
                    $('.dropdown').focusout(function () {
                        $(this).removeClass('active');
                        $(this).find('.dropdown-menu').slideUp(300);
                    });
                    $('.dropdown .dropdown-menu li').click(function () {
                        $(this).parents('.dropdown').find('span').text($(this).text());
                        $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
                    });
                    /*End Dropdown Menu*/


                    $('.dropdown-menu li').click(function () {
                        var input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
                            msg = '<span class="msg">Hidden input value: ';
                        $('.msg').html(msg + input + '</span>');
                    });
                </script>
            </label>
        </div>
    </div>
    {% include 'manager/products/product_table.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#category-select').change(function () {
                const selectedCategory = $(this).val();
                updateProductList(selectedCategory);
            });

            function updateProductList(category) {
                $.ajax({
                    url: '/manager/products/get_products_by_category/',
                    method: 'GET',
                    data: {category: category},
                    success: function (response) {
                        $('#product-table').html(response.html);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>
    <div class="pagination">
        <div id="pagination-links">
            {% if products.paginator.num_pages > 1 %}
                {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}">Previous</a>
                {% endif %}

                {% for page in products.paginator.page_range %}
                    {% if page == products.number %}
                        <span class="current-page">{{ page }}</span>
                    {% else %}
                        <a href="?page={{ page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}

                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">Next</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
