{% extends 'base.html' %}

{% block title %}
    Customer List
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <button class="button button-back" onclick="location.href='/manager'"><span class="arrow">➜</span> Back
        </button>

        <button class="button button-header" onclick="location.href='/manager/customers/addcustomer'">Add Customer
        </button>

        <button class="button button-header" onclick="window.print()">Print</button>

        <form id="search-form" action="{% url 'get_cust_total_sum_category' %}" method="GET">
            {% csrf_token %}
            <div class="queries-div">
                <select class="input parameter-select invisible-select" id="category" name="category">
                    {% for category in categories %}
                        <option value="{{ category.1 }}">{{ category.1 }}</option>
                    {% endfor %}
                </select>
                <div class="dropdown">
                    <div class="select">
                        <span>Select category</span>
                        <i class="fa fa-chevron-down arrow-margin"></i>
                    </div>
                    <input type="hidden" name="gender">
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li onclick="selectCat({{ category.1 }})">{{ category.1 }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <button class="button button-header" id="b-search" type="submit">Find</button>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                function selectCat(id) {
                    console.log(id);
                    document.getElementById("option").value = id;
                }

                $('.dropdown').click(function () {
                    $(this).attr('tabindex', 1).focus();
                    $(this).toggleClass('active');
                    $(this).find('.dropdown-menu').slideToggle(300);
                });

                $('.dropdown').focusout(function () {
                    $(this).removeClass('active');
                    $(this).find('.dropdown-menu').slideUp(300);
                });

                $('.dropdown .dropdown-menu li').click(function () {
                    $(this).parents('.dropdown').find('span').text($(this).text());
                    $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
                });

                $('.dropdown-menu li').click(function () {
                    const input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
                        msg = '<span class="msg">Hidden input value: ';
                    $('.msg').html(msg + input + '</span>');
                });
            </script>

        </form>

        <div class="search-wrapper">
            <input type="text" class="search-input" id="search-input" placeholder="Enter percent">

            <button class="button button-header" id="b-search-by-prom" type="submit">Search</button>
        </div>
    </div>

    <div>
        {% include 'manager/customers/customer_table.html' %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById("b-search-by-prom").addEventListener("click", function () {
            const prom = document.getElementById("search-input").value;
            $.ajax({
                url: '/manager/customers/get_customer_by_percent/',
                method: 'GET',
                data: {prom: prom},
                success: function (response) {
                    $('#cust_list').html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>

{% endblock %}
