{% extends 'base.html' %}

{% block title %}
    Customer List
{% endblock %}


{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
{% endblock %}

{% block content %}
    <a class="button" onclick="location.href='/manager/'"><</a>
    <div><a class="button" onclick="location.href='/manager/customers/addcustomer'">Add Customer</a>
    </div>
    <label>
        <input type="text" id="search-input" placeholder="%%%">
        <button class="button" id="b-search-by-prom" type="submit">Search</button>
    </label>
        {% include 'manager/customers/customer_table.html' %}


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById("b-search-by-prom").addEventListener("click", function () {
            const prom = document.getElementById("search-input").value;
            $.ajax({
                url: '/manager/customers/get_customer_by_percent/',
                method: 'GET',
                data: {prom: prom},
                success: function (response) {
                    $($('#cust_list')).html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}
