{% extends 'base.html' %}

{% block title %}
    Customers List
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empl_list.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <button class="button button-back" onclick="location.href='/manager/customers'"><span class="arrow">➜</span>
            Back
        </button>
    </div>

    <table class="table styled-table" id="cust_list">
        <thead>
        <tr>
            <th class="no-border">Surname</th>
            <th>Total Sum</th>
        </tr>
        </thead>
        <tbody>
        {% for cust in customers %}
            <tr>
                <td>{{ cust.0 }}</td>
                <td>{{ cust.1 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

