{% extends 'base.html' %}

{% block title %}
    Customer List
{% endblock %}


{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cust_list.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <a class="button button-back" onclick="location.href='/manager/'"> <span class="arrow">➜</span> Back </a>
        <a class="button button-header" onclick="location.href='/manager/customers/addcustomer'">Add Customer</a>

        <div class="search-wrapper">
            <input type="text" class="search-input" id="search-input" placeholder="%%%">
            <button class="button button-header" id="b-search-by-prom" type="submit">Search</button>
        </div>

    </div>
    <div class="table">
        {% include 'manager/customers/customer_table.html' %}
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById("b-search-by-prom").addEventListener("click", function () {
            const prom = document.getElementById("search-input").value;
            $.ajax({
                url: '/manager/customers/get_customer_by_percent/',
                method: 'GET',
                data: {prom: prom},
                success: function (response) {
                    $('#cust_list').html(response.html);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}
